/* Grid */
body{
    /*background: linear-gradient(rgba(0, 0, 255, 0.597), white);*/
    background-image: url(pictures/back4.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

input[type=text] {
    transition: width 0.4s ease-in-out;
  }
  
  input[type=text]:focus {
    width: 100%;
  }

.titleBlock {
    border-style:none;
    border-radius: 20px;
    padding: 10px;
    width: 1000px;

    background-color: rgba(105, 105, 105, 0.7);
    border-color: rgba(105, 105, 105, 0.7);

    height: 100px;
    line-height: 100px;

    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto';
    
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-start: 2;
}

.researchBlock {  
    
    background-color: rgba(105, 105, 105, 0.7);
    border-color: rgba(105, 105, 105, 0.7);
    
    border-style: none;
    border-radius: 20px;
    border-width: 4px;

    height: 75px;
    line-height: 75px;
    width: 350px;

    text-align: center;
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-start: 3;
}

.InputValue{
    
    border: none;
    border-radius: 15px;
    
    height: 500px;
    
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color : gray;
}

button{
    appearance: button;
    border : none;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    
    background-color: rgba(255, 255, 255, 1)
}

button:hover{
    background: gray;
}

.Tallinn_pic{  

    border-style: none;
    
    border-radius: 15px;
    border-width: 4px;

    background-image: url("pictures/Tallinn.jpg"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
        
    height: 250px;
    line-height: 100px;
    width: 200px;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Tallinn_info{  

    border-style: none;
    background-color: rgba(105, 105, 105, 0.7);
    border-color: rgba(105, 105, 105, 0.7);
    border-radius: 20px;
    height: 230px;
    line-height: 20px;
    width: 180px;
    padding: 10px;

    color: rgba(255,255,255,1);
    font-family: 'Roboto', sans-serif;
    font-size: 18px ;
    
    text-align: Left;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.name_Tallinn{
    text-align: center;
        font-family: 'Roboto', sans-serif;
}

.Paris_pic { 

    border-style: none;
    background-color: rgba(105, 105, 105, 0.7);
    border-color: rgba(105, 105, 105, 0.7);
    border-radius: 15px;
    border-width: 4px;
    
    height: 250px;
    line-height: 100px;
    width: 200px;

    background-image: url(pictures/Paris.jpg);

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.Paris_info{  

    border-style: none;
    background-color: rgba(105, 105, 105, 0.7);
    border-color: rgba(105, 105, 105, 0.7);
    border-radius: 18px;
    
    height: 230px;
    line-height: 20px;
    width: 180px;
    padding: 10px;

    color: rgba(255,255,255,1);
    font-family: 'Roboto', sans-serif;
    font-size: 18px ;
    text-align: Left;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.name_Paris{
    text-align: center;
        font-family: 'Roboto', sans-serif;
}

.Berlin_pic {  

    border-style: none;
    background-color: rgba(105, 105, 105, 0.7);
    border-color: rgba(105, 105, 105, 0.7);
    border-radius: 20px;
    
    height: 230px;
    line-height: 20px;
    width: 180px;
    padding: 10px;

    background-image: url("pictures/Berlin.jpg"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.Berlin_info{  

    border-style: none;
    background-color: rgba(105, 105, 105, 0.7);
    border-color: rgba(105, 105, 105, 0.7);
    border-radius: 15px;
    padding: 10px;
    
    height: 230px;
    line-height: 20px;
    width: 180px;
    
    
    color: rgba(255,255,255,1);
    font-family: 'Roboto', sans-serif;
    font-size: 18px ;
  
    text-align: Left;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.name_Berlin{
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.footer {  
    border-style: none;
    background-color: rgba(105, 105, 105, 0.7);
    border-color: rgba(105, 105, 105, 0.7);
    border-radius: 15px;
    padding: 10px;

    color: rgb(255, 255, 255);
        font-family: 'Roboto', sans-serif;
    text-align: center;

    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-start: 4;   
}

.Arcachon_pic {
    
    border-style: none;
    background-color: rgba(105, 105, 105, 0.7);
    border-color: rgba(105, 105, 105, 0.7);
    border-radius: 20px;
    
    height: 100px;
    width: 180px;
    padding: 10px;

    background-image: url("pictures/Arcachon.jpg"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-color: rgba(47, 100, 213, 0.802);

    color: rgb(255, 255, 255);
    text-align: center;

    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5; 
}

.wrapper_1 {
    display: inline-grid;
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 5px 200px;
    justify-items: center;
    align-items: center;
}

.wrapper_2 {
    display: inline-grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px 300px;
   
    justify-items: center;
    align-items: center;
}

